In [6]:
import json
import os
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
from configweather import api_key

In [7]:
#10021=new york new york, 10004= manhattan, 11212=brooklyn

postal_code = "10019"
country = "US"
period = "day"
timestamp_between = "2019-01-1T08:00-07:00,2019-12-30T23:00-07:00"

url = f"https://api.weathersource.com/v1/{api_key}/postal_codes/{postal_code},{country}/history.json?period={period}&timestamp_between={timestamp_between}"

weather_data = requests.get(url).json()
#print(json.dumps(weather_data, indent=4, sort_keys=True))

In [8]:
#loop through the first 10 days of the month
#index_loop = [1,2,3,4,5,6,7,8,9,10]
weather_df = pd.DataFrame(weather_data)

In [9]:
weather_df.head()

,postal_code,country,timestamp,cldCvrMin,cldCvrAvg,cldCvrMax,dewPtMin,dewPtAvg,dewPtMax,feelsLikeMin,...,windSpdMax,windSpd80mMin,windSpd80mAvg,windSpd80mMax,windSpd100mMin,windSpd100mAvg,windSpd100mMax,wetBulbMin,wetBulbAvg,wetBulbMax
0,10019,US,2019-01-01T00:00:00-05:00,0,39,100,27.0,40.7,53.3,33.3,...,19.1,7.9,20.2,28.4,10.7,20.7,27.7,34.7,45.4,54.7
1,10019,US,2019-01-02T00:00:00-05:00,0,43,100,23.7,25.8,31.7,29.9,...,7.0,1.8,8.4,16.3,1.4,7.4,13.1,30.9,33.1,36.3
2,10019,US,2019-01-03T00:00:00-05:00,0,55,100,25.1,31.3,38.5,32.5,...,12.9,1.4,10.5,19.9,3.1,10.6,19.6,32.8,36.7,40.4
3,10019,US,2019-01-04T00:00:00-05:00,0,68,100,26.5,31.6,38.6,28.8,...,10.4,3.0,11.7,16.0,4.0,11.3,14.8,30.8,36.6,41.9
4,10019,US,2019-01-05T00:00:00-05:00,0,76,100,34.4,41.2,43.4,35.5,...,11.1,5.1,13.7,19.0,4.8,14.1,18.8,37.6,42.3,44.0

In [10]:
weather_df.columns

Index(['postal_code', 'country', 'timestamp', 'cldCvrMin', 'cldCvrAvg',
       'cldCvrMax', 'dewPtMin', 'dewPtAvg', 'dewPtMax', 'feelsLikeMin',
       'feelsLikeAvg', 'feelsLikeMax', 'heatIndexMin', 'heatIndexAvg',
       'heatIndexMax', 'mslPresMin', 'mslPresAvg', 'mslPresMax', 'precip',
       'presTendMin', 'presTendAvg', 'presTendMax', 'radSolarMin',
       'radSolarAvg', 'radSolarMax', 'radSolarTot', 'relHumMin', 'relHumAvg',
       'relHumMax', 'sfcPresMin', 'sfcPresAvg', 'sfcPresMax', 'snowDepth',
       'snowfall', 'spcHumMin', 'spcHumAvg', 'spcHumMax', 'tempMin', 'tempAvg',
       'tempMax', 'windChillMin', 'windChillAvg', 'windChillMax', 'windDirAvg',
       'windDir80mAvg', 'windDir100mAvg', 'windSpdMin', 'windSpdAvg',
       'windSpdMax', 'windSpd80mMin', 'windSpd80mAvg', 'windSpd80mMax',
       'windSpd100mMin', 'windSpd100mAvg', 'windSpd100mMax', 'wetBulbMin',
       'wetBulbAvg', 'wetBulbMax'],
      dtype='object')

In [11]:
weather_df = weather_df.rename(columns={"timestamp": "Day",
                            "tempAvg": "Temperature (F)",
                            "relHumAvg": "Humitdity (%)", 
                            "snowDepth": "Snowfall Depth (in)", 
                            "windSpdAvg": "Wind Speed (MPH)",
                            "precip": "Precipitation (in)"})

In [12]:
weather_df = weather_df[["Day", "Temperature (F)", "Humitdity (%)", "Snowfall Depth (in)", "Wind Speed (MPH)", "Precipitation (in)"]]
weather_df

,Day,Temperature (F),Humitdity (%),Snowfall Depth (in),Wind Speed (MPH),Precipitation (in)
0,2019-01-01T00:00:00-05:00,49.0,74.2,0.0,9.9,0.06
1,2019-01-02T00:00:00-05:00,36.9,63.9,0.0,4.6,0.00
2,2019-01-03T00:00:00-05:00,39.9,71.9,0.0,5.8,0.00
3,2019-01-04T00:00:00-05:00,39.9,72.6,0.0,5.1,0.00
4,2019-01-05T00:00:00-05:00,43.2,93.0,0.0,7.2,0.41
...,...,...,...,...,...,...
360,2019-12-27T00:00:00-05:00,48.9,79.7,0.0,4.5,0.00
361,2019-12-28T00:00:00-05:00,45.0,70.0,0.0,4.3,0.00
362,2019-12-29T00:00:00-05:00,40.1,77.7,0.0,4.3,0.13
363,2019-12-30T00:00:00-05:00,39.8,93.9,0.0,11.2,0.29
364,2019-12-31T00:00:00-05:00,40.7,83.6,0.0,5.8,0.02

In [13]:
#run average for month
#weather_df = weather_df['Day'].resample('M')
#convert ISO to datetime
weather_df["Day"] = pd.to_datetime(weather_df["Day"], utc=True)
#extract month from datetime into new column
weather_df['Month'] = pd.DatetimeIndex(weather_df["Day"]).month
weather_df.head()

,Day,Temperature (F),Humitdity (%),Snowfall Depth (in),Wind Speed (MPH),Precipitation (in),Month
0,2019-01-01 05:00:00+00:00,49.0,74.2,0.0,9.9,0.06,1
1,2019-01-02 05:00:00+00:00,36.9,63.9,0.0,4.6,0.00,1
2,2019-01-03 05:00:00+00:00,39.9,71.9,0.0,5.8,0.00,1
3,2019-01-04 05:00:00+00:00,39.9,72.6,0.0,5.1,0.00,1
4,2019-01-05 05:00:00+00:00,43.2,93.0,0.0,7.2,0.41,1

In [14]:
weather_df = weather_df[["Month", "Temperature (F)", "Humitdity (%)", "Snowfall Depth (in)", "Wind Speed (MPH)", "Precipitation (in)"]]
weather_df

,Month,Temperature (F),Humitdity (%),Snowfall Depth (in),Wind Speed (MPH),Precipitation (in)
0,1,49.0,74.2,0.0,9.9,0.06
1,1,36.9,63.9,0.0,4.6,0.00
2,1,39.9,71.9,0.0,5.8,0.00
3,1,39.9,72.6,0.0,5.1,0.00
4,1,43.2,93.0,0.0,7.2,0.41
...,...,...,...,...,...,...
360,12,48.9,79.7,0.0,4.5,0.00
361,12,45.0,70.0,0.0,4.3,0.00
362,12,40.1,77.7,0.0,4.3,0.13
363,12,39.8,93.9,0.0,11.2,0.29
364,12,40.7,83.6,0.0,5.8,0.02

In [15]:
weather_month_df = weather_df.groupby(["Month"])
#averages for each month
weather_month_df = weather_month_df[["Temperature (F)", "Humitdity (%)", "Snowfall Depth (in)", "Wind Speed (MPH)", "Precipitation (in)"]].mean()
weather_month_df.count().head()

Temperature (F)        12
Humitdity (%)          12
Snowfall Depth (in)    12
Wind Speed (MPH)       12
Precipitation (in)     12
dtype: int64

In [16]:
weather_month_df

,Temperature (F),Humitdity (%),Snowfall Depth (in),Wind Speed (MPH),Precipitation (in)
Month,,,,,
1,32.067742,63.125806,0.216129,7.835484,0.097097
2,35.171429,63.525000,0.500000,7.110714,0.093214
3,40.416129,59.677419,0.570968,7.054839,0.103871
4,53.876667,65.663333,0.000000,7.106667,0.119000
5,61.925806,72.119355,0.000000,6.325806,0.202903
6,72.373333,64.570000,0.000000,6.120000,0.163000
7,80.306452,65.677419,0.000000,5.177419,0.187097
8,75.490323,69.783871,0.000000,5.212903,0.147742
9,69.976667,68.346667,0.000000,5.210000,0.030000
10,59.351613,73.567742,0.000000,6.506452,0.153226
11,43.040000,62.983333,0.000000,6.660000,0.042000
12,37.774194,73.406452,0.558065,6.519355,0.148710

In [17]:
#print to csv
weather_month_df.to_csv('weather_data_2019.csv')

In [18]:
#run average of year
weather_df = weather_df[["Month", "Temperature (F)", "Humitdity (%)", "Snowfall Depth (in)", "Wind Speed (MPH)", "Precipitation (in)"]].mean()
weather_df

Month                   6.526027
Temperature (F)        55.260548
Humitdity (%)          66.914247
Snowfall Depth (in)     0.152603
Wind Speed (MPH)        6.398904
Precipitation (in)      0.124630
dtype: float64

In [19]:
weather_df = pd.DataFrame(weather_df)

In [20]:
weather_df

                             0
Month                 6.526027
Temperature (F)      55.260548
Humitdity (%)        66.914247
Snowfall Depth (in)   0.152603
Wind Speed (MPH)      6.398904
Precipitation (in)    0.124630